body {
  // background-color: grayscale($color: #e8d5d5);
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    rgba(111, 207, 151, 1) 0%,
    rgba(111, 207, 151, 1) 45%,
    rgba(250, 248, 248, 1) 45%,
    rgba(250, 248, 248, 1) 100%
  );
  padding-bottom: 6vh;
  //height: 100vh;
}

input,
button {
  font: inherit;
}

form {
  label em {
    font-style: normal;
    display: block;
  }
}

h1 {
  color: #648166;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3em 2em;
  padding-bottom: 8vh;

  .cta {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
  }
  p {
    font-size: 20px;
    text-align: center;
    //font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}

/*_____                    
|  ___|__  _ __ _ __ ___  
| |_ / _ \| '__| '_ ` _ \ 
|  _| (_) | |  | | | | | |
|_|  \___/|_|  |_| |_| |_|
*/

.form {
  display: flex;
  flex-direction: column;
  padding: 1em 2em 10vh 2em;
  align-items: center;

  input {
    height: 30px;
    font-size: 0.8em;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: none;
    background-color: #f6f6f6;
    width: 80%;
  }

  .address {
    width: 80%;

    input {
      width: 100%;
    }
  }

  label,
  span {
    width: 80%;
  }

  .my-select {
    height: 30px;
    font-size: 0.8em;
    padding-left: 0.5rem;
    border-radius: 3px;
    border: none;
    background-color: #f6f6f6;
    width: 80%;

    option {
      height: 1em;
    }
  }

  .error {
    color: red;
  }

  label {
    display: block;
    margin-top: 1em;
  }

  span {
    display: block;
  }

  .btn {
    margin-top: 2em;
    width: 150px;
  }

  p {
    font-size: 12px;
    width: 80%;
    text-align: center;
  }
}

/*_   _             _                
 | \ | | __ ___   _| |__   __ _ _ __ 
 |  \| |/ _` \ \ / / '_ \ / _` | '__|
 | |\  | (_| |\ V /| |_) | (_| | |   
 |_| \_|\__,_| \_/ |_.__/ \__,_|_|                                       
*/

.navbar {
  height: 9vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1em 0.3em 1em;

  h1 {
    font-size: 22px;
    color: #5e6488;
    font-weight: 500;
  }

  img {
    width: 2.7em;
    margin: 1em;
  }
}

.menu {
  width: 100%;
  height: 8vh;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: white;

  img {
    width: 3.8em;
  }
}
header.MuiAppBar-colorPrimary {
  background-color: white;
}
/*
  ____             __ _ _      
 |  _ \ _ __ ___  / _(_) | ___ 
 | |_) | '__/ _ \| |_| | |/ _ \
 |  __/| | | (_) |  _| | |  __/
 |_|   |_|  \___/|_| |_|_|\___|
                               
*/

.profile {
  h1 {
    margin-top: 0;
  }

  .editIcon {
    align-self: end;
    width: 2em;
  }
}

/*
  ____                    _   _             _____                    
 |  _ \  ___  _ __   __ _| |_(_) ___  _ __ |  ___|__  _ __ _ __ ___  
 | | | |/ _ \| '_ \ / _` | __| |/ _ \| '_ \| |_ / _ \| '__| '_ ` _ \ 
 | |_| | (_) | | | | (_| | |_| | (_) | | | |  _| (_) | |  | | | | | |
 |____/ \___/|_| |_|\__,_|\__|_|\___/|_| |_|_|  \___/|_|  |_| |_| |_|
                                                                     
*/
[data-route="/new-donation"] {
  h1 {
    text-align: center;
  }
  .form.donation {
    padding: 1em;
    padding-bottom: 10vh;
    background-color: white;
    margin: 0 1.4em;
    border-radius: 1em;
    box-shadow: rgba(171, 195, 173, 0.67) 0px 0px 4px 3px;
    input {
      border-radius: 0.7em;
      height: 30px;
    }

    h2 {
      font-size: 1.2em;
      color: rgb(129, 136, 129);
    }
    .plus {
      box-shadow: rgba(171, 195, 173, 0.67) 0px 0px 4px 3px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #6fcf97;
      cursor: pointer;
    }

    .unitDon {
      width: 100%;
      font-size: 1em;
      padding: 0.3em 0.6em;
      margin-bottom: 1em;
      border-radius: 1em;

      .headUnitDon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font-size: 1.3em;
          color: black;
        }
      }

      .produit {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input {
          width: 50%;
        }

        select {
          width: 30%;
          font-size: 1em;
          text-align: right;
          border: 1px solid black;
        }
      }

      .quantity {
        width: 100%;
        display: flex;
        flex-direction: column;
        .input-quantity {
          display: flex;
          justify-content: space-between;
          input {
            width: 50%;
          }
        }

        .date {
          width: 60%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;

          input {
            width: 100%;
          }
        }
      }
    }

    .localisation {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 1em;
      padding-left: 0.6em;
      padding-right: 0.6em;
      input {
        width: 100%;
      }
    }

    .btn {
      width: 80%;
      background-color: rgb(212, 222, 211);
      margin-top: 1em;
    }
    .add-item {
      background-color: #f7dc00;
    }
  }
}
/*
  _     _         
 | |   | |        
 | |__ | |_ _ __  
 | '_ \| __| '_ \ 
 | |_) | |_| | | |
 |_.__/ \__|_| |_|
*/

.btn {
  display: inline-block;
  background: #6fcf97;
  padding: 0.85em 4em;
  border-radius: 0.25em;
  font-weight: bold;
  font-size: 80%;
  text-align: center;
  cursor: pointer;
  margin: 2em 0 2em 0’;
}

button.btn {
  border: inherit;
  background: #6fcf97;
}

a.btn {
  text-decoration: none;
  color: inherit;
}

.popin .btn {
  display: block;
  width: 100%;
}

/*
  _                          
 | |                         
 | |__   ___  _ __ ___   ___ 
 | '_ \ / _ \| '_ ` _ \ / _ \
 | | | | (_) | | | | | |  __/
 |_| |_|\___/|_| |_| |_|\___|
*/

[data-route="/"],
[data-route="/profile"],
[data-route="/profile/edit"] {
  .popin__one {
    display: block;

    .cta {
      margin-bottom: 0;
    }
  }

  p em {
    font-style: normal;
    color: gray;
  }

  p em + span {
    display: flex;
    font-size: 150%;
  }

  // [data-route="/profile"],
  // [data-route="/profile/edit"] {
  //   //.btn.logout {background-color:transparent;color:red;}

  .btn + .btn {
    margin-top: 1em;
  }

  img.avatar {
    display: block;
    width: 9em;
    height: 9em;
    border-radius: 100%;
    object-fit: contain;
    margin: 0 auto;
    background: #e1e1e1;
    margin-bottom: 1em;
    object-fit: cover;
  }
}

/*
  _             _           __  _                         
 | |           (_)         / / (_)                        
 | | ___   __ _ _ _ __    / /__ _  __ _ _ __  _   _ _ __  
 | |/ _ \ / _` | | '_ \  / / __| |/ _` | '_ \| | | | '_ \ 
 | | (_) | (_| | | | | |/ /\__ \ | (_| | | | | |_| | |_) |
 |_|\___/ \__, |_|_| |_/_/ |___/_|\__, |_| |_|\__,_| .__/ 
           __/ |                   __/ |           | |    
          |___/                   |___/            |_|    
*/

[data-route="/login"],
[data-route="/signup"] {
  .popin__one h1 {
    margin-top: 0;
  }

  p small {
    color: gray;
  }

  p small + .btn {
    margin-top: 1em;
  }
}

//    _____           _____ _    _ ____   ____          _____  _____
//   |  __ \   /\    / ____| |  | |  _ \ / __ \   /\   |  __ \|  __ \
//   | |  | | /  \  | (___ | |__| | |_) | |  | | /  \  | |__) | |  | |
//   | |  | |/ /\ \  \___ \|  __  |  _ <| |  | |/ /\ \ |  _  /| |  | |
//   | |__| / ____ \ ____) | |  | | |_) | |__| / ____ \| | \ \| |__| |
//   |_____/_/    \_\_____/|_|  |_|____/ \____/_/    \_\_|  \_\_____/
//
//
.dashboard {
  .Kpi2 {
    padding: 0.6em;
    display: flex;
    align-items: center;
    p {
      margin: 0;
      font-size: 1em;
    }
    img {
      height: 30px;
      margin-right: 1em;
    }
  }
}

/*
//    _  _______ _____ 
//   | |/ /  __ \_   _|
//   | ' /| |__) || |  
//   |  < |  ___/ | |  
//   | . \| |    _| |_ 
//   |_|\_\_|   |_____|
//                     
//                      
*/
.Kpi1 {
  width: auto;
  padding: 0px 90px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;

  .bigKPI {
    font-size: 20px;
    font-weight: 300;
    padding: 0;
  }

  .cashSave {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin-left: 0.1em;
  }
}

.Kpi2 {
  width: 180px;
  border-radius: 4px;
  margin: auto;
  display: block;
  background-color: #e6e6e6;
  font-size: 14px;
  font-family: "Open Sans";
  text-align: center;
  padding: 0.3em;
  opacity: 0.8;
  font-weight: 600;
  margin-top: 10px;
}

.Kpi3 {
  border-radius: 8px;
  margin-top: 100px;
  margin: 15px;
  display: block;
  background-color: white;
  padding: 3px 40px;
  font-size: 14px;
  font-family: "Open Sans";

  h2 {
    text-align: center;
    font-weight: 600;
  }

  img {
    padding-right: 10px;
  }
}

//     _____          _____  _____   _____       _____   ____  _   _  _____
//    / ____|   /\   |  __ \|  __ \ / ____|     |  __ \ / __ \| \ | |/ ____|
//   | |       /  \  | |__) | |  | | (___ ______| |  | | |  | |  \| | (___
//   | |      / /\ \ |  _  /| |  | |\___ \______| |  | | |  | | . ` |\___ \
//   | |____ / ____ \| | \ \| |__| |____) |     | |__| | |__| | |\  |____) |
//    \_____/_/    \_\_|  \_\_____/|_____/      |_____/ \____/|_| \_|_____/
//
//

.card_dons {
  border-radius: 8px;
  margin-top: 100px;
  margin: 15px;
  background-color: white;
  padding: 3px 20px;
  font-size: 14px;
  font-family: "Open Sans";
  display: flex;

  img {
    padding-right: 20px;
  }

  .cardClosed {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;

    img {
      padding-right: 10px;
      margin-left: 5px;
      height: 30px;
    }
  }

  .cardOpen {
    width: 100%;
    .unitDonCard {
      width: 100%;
      background-color: grey;
    }

    .btn-open {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .toggleButton {
        margin-left: 10px;
        img {
          cursor: pointer;
        }
      }
    }
    .cardInfo {
      margin-top: 20px;
      text-justify: center;
      .productType {
        display: flex;
        align-items: center;
        margin-left: auto;
      }
    }

    img {
      padding-right: 10px;
      margin-left: 5px;
      height: 30px;
    }
  }
  .btn {
    font-size: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.6em 2em;
  }
}
